<ion-view class="surroundings_page">
  
  <ion-header-bar class="header_bar">
    <button class="button button-icon button-clear icon ion-chevron-left" id="btnBack" ng-click="goBack()">
    </button>

    <div class="h1 title">
      TRAFFICJAM
    </div>

    <button class="button button-icon button-clear ion-loop pull-right" id="btnRefresh" ng-click="refresh()">
    </button>

    <button class="button button-icon button-clear ion-ios-gear-outline pull-right" id="btnSetting" ng-click="goSetting()">
    </button>

  </ion-header-bar>

  <ion-content style="">

  </ion-content>

  <div class="bar bar-footer">
    <button class="button button-icon button-clear icon ion-chevron-left" id="btnLeft" ng-click="goLeft()">
    </button>

    <div class="title">
      <div class="page_title">Karte</div>
      <div class="pager_box">
        <a href="#" class="pager"></a>
        <a href="#" class="pager"></a>
        <a href="#" class="pager active"></a>
      </div>
    </div>

    <button class="button button-icon button-clear icon ion-chevron-right" id="btnRight" ng-click="goRight()">
    </button>
  </div>
  
</ion-view>